/**
 * Table of Contents:
 *
 * 1. Base
 * * 1.1 - Normalize
 * * 1.2 - Repeatable Patterns
 * * 1.3 - Basic Structure
 * 2. Layout
 * * 2.1 - Wrapper Box Sizing
 * 3. Module
 * * 3.1 Blog Title
 * 4. State
 * * 4.1 - Responsive Styles
 * 5. Theme
 * * 5.1 - Color
 * * 5.2 - Inverted Color
 * ----------------------------------------------------------------------------
 */


/**
 * Star defaults.
 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	border: none;
}

/**
 * HTML defaults
 */
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; /* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
	font-size: 15px;
	line-height: 1.65em;
	font-family: georgia, times, serif;
}

/**
 * Word wrap defaults
 */
.entry-title,
.button {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    hyphens: auto;
}

/**
 * Transitions
 */
input,
a,
a > * {
	transition: color 0.4s ease-in-out;
}

/**
 * Header defaults
 */
h1,
h2,
h3,
h4,
h5,
h6,
dt,
th {
	font-family: helvetica, arial, sans-serif;
}

h1 {
	font-size: 33px;
	line-height: 1.1em;
}

h2 {
	font-size: 27px;
	line-height: 1.15em;
}

h3 {
	font-size: 22px;
	line-height: 1.2em;
}

h4 {
	font-size: 18px;
	line-height: 1.25em;
}

h5 {
	font-size: 16px;
	line-height: 1.3em;
}

h6 {
	font-size: 15px;
	line-height: 1.35em;
}

/* Margin Defaults */
.entry-content .button,
blockquote,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
table,
ul {
	margin-bottom: 23px;
}

/*Unicode char defaults*/
.arrow {
	font-family: "Lucida Sans Unicode", "lucida-sans-unicode";
}

/* HTML5 display definitions */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}



/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
	display: none;
}

/* Links */

a {
	text-decoration: none;
}

a, a > * {
	background: transparent;
}

/* Text-level semantics */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Standardize font-weight.
 */
dt,
b,
strong {
	font-weight: 600;
}

/**
 * Standardize font-style.
 */
dfn,
em,
i {
	font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* Embedded content */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Contain overflow in all browsers.
 */
pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Standardize bg color.
 */
button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
	background: transparent; /* 4 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
	border: 1px solid #ccc;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
	font-weight: bold;
}

/* Tables */

/**
 * Remove most spacing between table cells.
 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/* Lists */
nav li {
	list-style: none;
}

/**
 * 1.2 Repeatable Patterns
 * ----------------------------------------------------------------------------
 */

/* Clearing floats */
.clear:after,
.outer-wrapper:after,
.inner-wrapper:after,
.attachment .entry-header:after,
.site-footer .widget-area:after,
.entry-content:after,
.page-content:after,
.navigation:after,
.nav-links:after,
.gallery:after,
.comment-form-author:after,
.comment-form-email:after,
.comment-form-url:after,
.comment-body:after {
	clear: both;
}

.clear:before,
.clear:after,
.outer-wrapper:before,
.outer-wrapper:after,
.inner-wrapper:before,
.inner-wrapper:after,
.attachment .entry-header:before,
.attachment .entry-header:after,
.site-footer .widget-area:before,
.site-footer .widget-area:after,
.entry-content:before,
.entry-content:after,
.page-content:before,
.page-content:after,
.navigation:before,
.navigation:after,
.nav-links:before,
.nav-links:after,
.gallery:before,
.gallery:after,
.comment-form-author:before,
.comment-form-author:after,
.comment-form-email:before,
.comment-form-email:after,
.comment-form-url:before,
.comment-form-url:after,
.comment-body:before,
.comment-body:after {
	content: "";
	display: table;
}

/* Assistive text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

/*
 * Responsive images
 *
 * Fluid images for posts, comments, and widgets
 */
.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
	max-width: 100%;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
	height: auto;
	max-width: 100%;
}

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
}

/* Override the Twitter embed fixed width. */
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important;
}

/* Images */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft {
	margin: 0px 23px 5px 0;
}

.wp-caption.alignleft {
	margin: 0px 23px 5px 0;
}

img.alignright {
	margin: 5px 0 5px 23px;
}

.wp-caption.alignright {
	margin: 5px 0 5px 23px;
}

img.aligncenter {
	margin: 5px auto;
}

img.alignnone {
	margin: 5px 0;
}

figure,
.wp-caption,
.entry-caption,
.gallery-caption {
	font-style: italic;
	font-weight: 300;
	text-align: center;
	padding: 10px;
}

.wp-caption .wp-caption-text {
	padding: 5px 0 0;
}

img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol  {
	list-style-position: inside;
}

/* Fades */
@-webkit-keyframes FADEIN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes FADEIN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes FADEIN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes FADEIN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.blog-title-blog-header,
.search-form-blog-header {
	-webkit-animation: FADEIN 2.5s 1; /* Safari 4+ */
 	-moz-animation:    FADEIN 3.5s 1; /* Fx 5+ */
	-o-animation:      FADEIN 2.5s 1; /* Opera 12+ */
	animation:         FADEIN 2.5s 1; /* IE 10+ */
}
