/**
 * Table of Contents:
 *
 * 1. Base
 * * 1.1 - Normalize
 * * 1.2 - Repeatable Patterns
 * * 1.3 - Basic Structure
 * 2. Layout
 * * 2.1 - Wrapper Box Sizing
 * 3. Module
 * * 3.1 Blog Title
 * 4. State
 * * 4.1 - Responsive Styles
 * 5. Theme
 * * 5.1 - Color
 * * 5.2 - Inverted Color
 * ----------------------------------------------------------------------------
 */



/*
 * 2. Layout
 */

/* Needs to be about 23px wider than outer wrappers to prevent odd lateral whitespace around full width elements that have a bg color */
body {
	min-width: 385px;
}

/* Desktop Chrome enforces a 400px min-width anyways. */
.outer-wrapper {
	width: 100%;
	min-width: 365px;
}

.inner-wrapper {
	max-width: 723px;
	margin: 0 auto;
	display: block;
}

.inner-wrapper {
	padding: 0 23px;
}

/* Vertical Spacing */

.content-holder > *,
.inner-wrapper > * {
	margin-bottom: 23px;	
}

form > :last-child,
.wp-caption > :last-child,
blockquote > :last-child,
.content-holder > :last-child,
.inner-wrapper > :last-child {
	margin-bottom: 0px;
}

/**
 * For those inner wrappers who have all their children floating,
 * their children do not need bottom padding.
 */
.inner-wrapper-floater > * {
	margin-bottom: 0px;	
}

.archive-header,
.accent-band,
.outer-wrapper {
	padding-top: 23px;
	padding-bottom: 20px;
}

.outer-wrapper.marquee {
	padding-top: 24px;
	padding-bottom: 18px;

}

.accent-band {
	margin-bottom: 40px;
}

#loop {
	margin-top: 23px;
	margin-bottom: 40px;
}
