/* Active states */
a:active,
input:active,
a:focus,
input:focus {
	outline: 1px dotted $color;
}

.inverse-color {
	a:active,
	input:active,
	a:focus,
	input:focus  {
		outline: 1px dotted $inverse_color;
	}
}

/* Universal Transitions - Module one-offs are in _modules.scss*/
input,
a,
a > * {
	transition: color $transition,
	transform $transition;
}

.screen-reader-text	 {
	transition: opacity $transition;
}